<ol class="sub_menu">
  <li>
    <a {%if page.permalink == '/workshops/post-and-rung-chair/' %}class="active"{% endif %} href="/workshops/post-and-rung-chair/">
      Post &amp; Rung Chair
    </a>
  </li>
  <li>
    <a {%if page.permalink == '/workshops/post-and-rung-stool/' %}class="active"{% endif %} href="/workshops/post-and-rung-stool/">
      Post &amp; Rung Stool
    </a>
  </li>
  <li>
    <a {%if page.permalink == '/workshops/occasional-bench/' %}class="active"{% endif %} href="/workshops/occasional-bench/">
      Occasional Bench
    </a>
  </li>
</ol>
